<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= t(:summary) %>
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-normal">
      <tr>
        <td class="bold">
          <b>Opening Balance</b>
        </td>
        <td>
          <%= @entries[:opening_balance] %>
        </td>
      </tr>
    </table>
    </div>
  <div class="panel-body">
    <table class="table table-normal">
      <tr>
        <td class="bold">
          Today's Collection
        </td>
        <td>
          <%= @entries[:collection] %>
        </td>
      </tr>
      <tr>
        <td class="bold">
           Other Incomes
        </td>
        <td>
          <%= @entries[:total_incomes] %>
        </td>
      </tr>
      <tr>
        <td class="bold">
          Total Incomes without opening balance
        </td>
        <td>
          = (<%= (@entries[:total_incomes] + @entries[:collection]) %>)
        </td>
      </tr>

      <tr>
        <td class="bold">
          Today's New Loan
        </td>
        <td>
          <%= @entries[:new_loan] %>
        </td>
      </tr>
      <tr>
        <td class="bold">
          <%= t(:total_expenses) %>
        </td>
        <td>
          <%= @entries[:total_expenses] %>
        </td>
      </tr>
      <tr>
        <td class="bold">
          Total Expenses
        </td>
        <td>
          = (<%= (@entries[:new_loan] + @entries[:total_expenses]) %>)
        </td>
      </tr>
    </table>
  </div>
      <div class="panel-body">
        <table class="table table-normal">
          <tr>
            <td class="bold">
              <b>Closing balance</b>
            </td>
            <td>
              <%= @entries[:closing_balance] %>
            </td>
          </tr>
        </table>
      </div>

</div>
