<%= form_for(@daily_collections, html: {class: 'form col-md-6 col-md-offset-3'}) do |f| %>
    <div class="fieldset">
      <div class="form-group">
         </div>
      <div class="form-group">
<br/>
      </div>
      <div class="form-group">
        <%= f.label :select_user %><br>
        <%= collection_select(:daily_collection, :user_id, @users, :id, :username, class: 'form-control',:include_blank => "Select User", required: true)%>
      </div>

      <div class="form-group">
        <%= f.label :collection_date %><br>
        <%= f.text_field :collection_date, :class => 'datepicker', :value => Date.today.strftime('%d-%m-%Y') %><br/>

      </div>
      <div class="actions">
        <%= f.submit :class => "btn btn-info" %>
      </div>
    </div>
<% end %>
