<h2>Collection Date wise List</h2>
<br/>
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6"><%= link_to 'Back', loans_path, class: "btn btn-info" %>&nbsp;
    <%= link_to 'Print Report', loan_path(@loan, format: :pdf), class: "btn btn-info" %></div>
</div>
<div class="row">
  <div class="col-sm-3">
    <table>
      <tbody>
      <tr>
        <th>Customer Name:
        </td>
        <td>&nbsp;<%= @loan.customer.name_location %></td>
      </tr>
      <tr>
        <th>Loan Given date:
        </td>
        <td>&nbsp;<%= date_format_view(@loan.given_date) %></td>
      </tr>
      <tr>
        <th>Loan Amount:
        </td>
        <td>&nbsp;<%= @loan.loan_amount %></td>
      </tr>
      <tr>
        <th>Loan Paid Amount:
        </td>
        <td>&nbsp;<%= @loan.paid_amount %></td>
      </tr>
      <tr>
        <th>Balance Amount:
        </td>
        <td>&nbsp;<%= @loan.balance_amount %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<div class="col-sm-3">
  <table class="table table-bordered table-stripped">
    <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
    </tr>
    </thead>

    <tbody>
    <% @loan.daily_collections.each do |loan| %>
        <tr>
          <td><%= loan.date_with_name %></td>
          <td><%= loan.amount %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>